.loader{
  width: 30px;
  height:30px;
  color: lightgrey;
  border: 3px solid;
  border-radius: 50%;
  border-top-color: gray;
  box-sizing: border-box;
  animation: spinning 1s infinite;
}

@keyframes spinning {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}